body, html {
    margin: 0;
    padding: 0;
}

.bar {
    font-size: 3vw;
}

.socials {
    background-color: 93C2C6;
    color: #93C2C6;
}

.welcome {
    text-align: left; 
    margin-left: 6vw; 
    margin-top: 6vh;
    position: fixed;
}

h1 {
    font-size: 8vw;
  }
  
h2 {
    font-size: 7vw;
}

h3 {
    font-size: 6.5avw;
}

.bottomsection{
    position: fixed;
    bottom: 0;
    width: 100%;
}

.face {
    position: fixed;
    bottom: 0;
    min-width: 120%;
}

.bottombar {
    width: 100%;
    background-color: #FDB196;
}

.midbar {
    width: 100%;
    background-color: #FAD2A7;
}

.topbar {
    width: 100%;
    background-color: #FBEAC8;
}